body{
			margin: 0;
			padding: 0;
			}
		a:link{
			text-decoration: none; 
			color:#484848;
			}
		li{
			list-style: none;
		}	

		#shopListContainer{
			width: 760px;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
		}
		#shopListContainer img{
			width: 250px;
			height: 250px;
			float: left;
		}
		.timeline-swicher{
			margin: 200px 0 0 0;
			width: 760px;
			height: 60px;
			overflow: hidden;
			background: url('../images/dot.gif') left 45px repeat-x;
		}
		.timeline-swicher li {
			float: left;
			width: 120px;
			height: 50px;
			font-size: 20px;
			text-align: center;
			background: url('../images/biggerdot.png') center bottom no-repeat;
		}
		.timeline-swicher a {
			width: 90px;
			line-height: 38px;
			padding-bottom: 10px;
			color: red;
			letter-spacing: -2px;
		}
		.timeline-swicher .selected {
			font-size: 25px;
		}
		#shopList {
			width: 760px;
			height: 500px;
			overflow: hidden;
			float: left;
		}	
		#shopList li {
			width: 760px;
			height: 300px;
			float: left;

		}
		#shopList h2{
			margin: 0 0 40px 280px;
		}
		#div{
			width: 500px;
			height: 200px;
			border: 1px solid;
			float: left;
			margin: 70px 0 100px -250px;
		}
		
		
		.detailListContainer{
			
		}